* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --color-light : rgb(255, 182, 193);
    --color-medium : rgb(156, 50, 66);
}

body {
    min-height:100vh;
    min-width: 100vw;
    background-color: white;
    display:flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    
    a {
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        color:black;
        font-weight: 500;
        font-size: 1.1rem;
    }

    a:hover {
        color: var(--color-medium);
    }
    
    header {
        display:flex;
        flex-direction: row;
        justify-items: space-between;
        align-items: center;
        width:98%;
        margin:auto;
        gap:30px;
        padding-left:2%;
        padding-right:2%;
        
        
        nav {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            gap:4%;

            a:hover {
                position:relative;
                bottom: 3px;
            }
        }

        .divBurger {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: end;
            

            button {
                position: absolute;
                right:+10px;
                top: -25px;
                font-size: 2.5rem;
                color:var(--color-medium);
                border:none;
                background-color: white;
                display:none;
            }
        }
    }
    
    main {
        background-color: var(--color-light);
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        section {
            width: 90%;
            margin: auto;
        }

        .titre {


            h1 {
                text-align: center;
                color: white;
                border-radius: 1rem;
                padding: 20px;
                font-size: 3rem;
                font-weight: 600;
                margin: 30px;
            }
        }

        .formulaire {
            /* Pourquoi le Margin restait en blanc -> Pcq le margin:2rem se faisait annuler par le margin:auto qui venait après =>
            Les propriétés placées après annulent celles placées avant !*/
            background-color: white;
            padding: 60px;
            width: 610px;
            margin:auto;
            margin-bottom: 2rem;
            display:flex;
            flex-direction: column;
            justify-items: start;
            align-items: start;
            gap:1rem;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
            position: relative;            
            

            .collant1 {
                position: absolute;
                top:-40px;
                left:-30px;
            }

            .collant2 {
                position: absolute;
                bottom:-30px;
                right:-35px;
            }

            .intro-form {
                color: var(--color-medium);
                font-weight: bold;
            }

            div {
                width:100%;

                .questions {
                    font-weight: bold;
                    color: var(--color-medium);
                    
                }
            
                .input {
                    border: var(--color-medium) solid 1.7px;
                    border-radius: 2px;
                    background-color: rgba(255, 182, 193, 0.3);
                    padding-left: 5px;
                    font-family: 'Montserrat', sans-serif;
                }

                .input:hover {
                    background-color: white;
                    border: var(--color-medium) solid 1.7px;
                }

                .prenom, .nom, .email, .tel, .select {
                width: 100%;
                height: 2rem;
                }

                .textarea {
                    width: 100%;
                    height:6rem;
                }

                .input-envoyer {
                    background-color: var(--color-light);
                    border:none;
                    padding:10px 15px 10px 15px;
                    border-radius: 50px;
                    box-shadow: 0px 6px 2px rgba(156, 50, 66, 0.7);
                    text-decoration: none;
                    font-size:1.1rem;
                    font-weight: 700;
                    color:var(--color-medium);
                }

                .input-envoyer:hover {
                    position:relative;
                    top:2px;
                    box-shadow: 0px 4px 2px rgba(156, 50, 66, 0.7);
                }

            }

            label {
                position: relative;
            }

            label:has(~*:required)::after{ /* = pour tout label qui a (has) tout voisin direct (~*) avec un attribut required -> juste après (::after), ajouter ce qui est entre {} */
                content: "*" / "requis";
                color :violet;
                position: absolute;
                top : 0;
                transform: translateX(0.5rem);
            }
        }
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        width:90%;
        margin:auto;
        padding-top: 1%;
        padding-bottom: 1%;

        .icones-rs {
            font-size: 2rem;
        }

        .fa-solid:hover, .fa-brands:hover {
            color : var(--color-medium);
        }
    }
}

/** -------Media query max-width:640px-------- */

@media (max-width:640px) {
    body header {
        position: relative;
        justify-content: space-between;
    }
    
    body header .hide {
        display:none;
    }

    body header .show {
        position: absolute;
        bottom:-165%;
        right: -5px;
        background-color: white;
        padding:10px 20px 50px 50px;
        display:flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap:20px;
        z-index: 100;
    }

    body header .divBurger button {
        display:flex; 
    }

    body main .titre h1 {
        font-size: 2rem;
        text-align: center;
    }

    body main .formulaire {
        width:85%;
        padding: 30px;
    }

    body footer {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align:center;
        gap:5px; 
    }
}