* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-light: lightpink;
    --color-medium: rgb(156, 50, 66);
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    flex-grow: 1;

    a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 1.1rem;
    }

    a:hover {
        color: var(--color-medium);

    }

    header {
        display: flex;
        flex-direction: row;
        justify-items: space-between;
        /*Pourquoi pas d'espace sur les côtés ?*/
        align-items: center;
        width: 98%;
        margin: auto;
        gap: 30px;
        padding-left: 2%;
        padding-right: 2%;


        nav {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            gap: 2%;

            
            a:hover {
                position:relative;
                bottom: 3px;
            }
        }

        

        .divBurger {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: end;

            button {
                position: absolute;
                right: +10px;
                top: -25px;
                font-size: 2.5rem;
                color: var(--color-medium);
                border: none;
                background-color: white;
                display: none;
            }
        }
    }

    main {
        background-color: var(--color-light);
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width:100%;

        section {
            width: 90%;
            margin: auto;
        }

        .titre {


            h1 {
                text-align: center;
                color: white;
                border-radius: 1rem;
                padding: 20px;
                font-size: 3rem;
                font-weight: 600;
                margin: 30px;
            }
        }

        /* .grille-pensionnaires {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;

            .rang-pensionnaires {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: stretch;
                gap: 30px;

                .pensionnaire {
                    background-color: white;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 15px;
                    width: 360px;
                    margin-bottom: 30px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

                    @media (max-width:950px) and (orientation:landscape) {
                        width: 600px;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                    } */


        .grille-pensionnaires {
                display:flex;
                flex-direction:row;
                justify-content: space-evenly;
                align-items:stretch;
                gap:30px;
                flex-wrap:wrap;
                align-content:center;
            
                .pensionnaire {
                    background-color: white;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 15px;
                    width: 360px;
                    margin-bottom: 30px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
                    position :relative;

                    @media (max-width:950px) and (orientation:landscape) {
                        width: 600px;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                    }

                    .collant {
                        position:absolute;
                        top:-40px;
                    }
                }
        }
                    

                    .infos-pens {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 15px;

                        h2 {
                            font-size: 1.5rem;
                        }

                        p .cat-pens {
                            font-weight: bold;
                        }
                    }
                
            
        
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: auto;
        padding-top: 1%;
        padding-bottom: 1%;

        .icones-rs {
            font-size: 2rem;
        }

        .fa-solid:hover,
        .fa-brands:hover {
            color: var(--color-medium);
        }
    }
}

/**-----------------------------------------------

/** -------Media query max-width:640px-------- */

@media (max-width:640px) {
    header {
        position: relative;
        justify-content: space-between;
    }

    body header .hide {
        display: none;
    }

    body header .show {
        position: absolute;
        bottom: -165%;
        right: -5px;
        background-color: white;
        padding: 10px 20px 50px 50px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        z-index: 100;
    }

    body header .divBurger button {
        display: flex;
    }

    body header .divBurger button:hover {
        font-size: 2.4rem;
    }

    body main .titre h1 {
        font-size: 2rem;
        text-align: center;
    }

    body footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        gap: 5px;
    }

    body main .grille-pensionnaires .pensionnaire {
        width: 90%;

        .img-pens {
            width: 90%;
        }
        
    }
}

/** -------Media query max-width:920px-------- */

@media (max-width:920px) and (orientation:landscape) {
    .pensionnaire {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

/** -------Media query max-width:1020px-------- */

@media (max-width : 1020px) {
    body main .grille-pensionnaires  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}