* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --color-light : lightpink;
    --color-medium : rgb(156, 50, 66);
}

body {
    min-height:100vh;
    background-color: white;
    display:flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    
    a {
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        text-decoration: none;
        color:black;
        font-weight: 500;
    }

    a:hover {
        color: var(--color-medium);
    }
    
    header {
        display:flex;
        flex-direction: row;
        justify-items: space-between; /*Pourquoi pas d'espace sur les côtés ?*/
        align-items: center;
        width:98%;
        margin:auto;
        gap:30px;
        padding-left:2%;
        padding-right:2%;
        
        
        nav {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            gap:2%;
        }

        .divBurger {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: end;
            /*TODO mettre un menu déroulant caché qui s'ouvre si on clique dessus*/

            i {
                position: absolute;
                top: -25px;
                font-size: 2.5rem;
                color:var(--color-medium);
                display:none;
            }
        }
    }
    
    main {
        background-color: var(--color-light);
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    
        .titre {
            background-image: url('images/banniere.jpg');
            background-position: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-grow: 1;

            h1 {
                color:white;
                background: rgba(255, 255, 255, 0.15);
                backdrop-filter: blur(20px);
                border-radius: 1rem;
                padding:20px;
                font-size:3rem;
                font-weight: 600;
                
            }
        }
    
        .intro {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            gap:30px;
            width:90%;
            margin:auto;
            margin-top: 40px;
            margin-bottom: 40px;

            .texte-intro {
                background-color: white;
                border-radius: 1rem;
                padding: 30px;
                max-width:40%;
                text-align: start;

                strong {
                    color:var(--color-medium);
                }

                button {
                    background-color: var(--color-light);
                    border:none;
                    padding:10px;
                    border-radius: 50px;
                    box-shadow: 0px 6px 2px rgba(156, 50, 66, 0.7);

                    a {
                        text-decoration: none;
                        color:black;
                        font-weight: 500;
                    }
                
                    a:hover {
                        color:var(--color-medium);
                    }
                }
            }

            picture {
                margin:auto;

                img {
                    max-width: 100%;
                    border-radius:1rem;
                }
            }
        }
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        width:90%;
        margin:auto;
        
        padding-top: 1%;
        padding-bottom: 1%;

        .icones-rs {
            font-size: 2rem;
        }

        .fa-solid:hover, .fa-brands:hover {
            color : var(--color-medium);
        }
    }
}

@media (max-width:640px) {
    body header nav {
        display:none;
    }

    body header .divBurger i {
        display:flex; /* Pourquoi n'apparaît pas ? */
    }

    body header {
        justify-content: space-between;
    }

    body main .titre {
        background-image: url('images/banniere_resp.jpg');
        height:600px;

        h1 {
            font-size: 2rem;
            text-align: center;
        }
    }

    body main .intro {
        width:100%;
    }
    body main .intro .texte-intro {
        max-width: 100%;
    }

    body main .intro img {
        max-width: 100%;
    }

    body main .intro .texte-intro {
        text-align: center;
    }
}


@media (max-width : 1020px) {
    body main .titre {
        height:200px;
    }

    body main .titre h1 {
        font-size: 2rem;
    }

    body main .intro {
        flex-direction: column;
        gap:20px;
    }

    body main .intro .texte-intro, body main .intro picture {
        max-width:80%;
    }
}